.channel{
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.channel:hoover {
    background-color: #252525;
}

.channel__details {
    display: flex;
    align-items: center;
}

.channel>div>img {
    object-fit: contain;
    margin-right: 5px;
    width: 40%;
    border-radius:50%
}